/* Write your styles here  */
#header h1{
  text-align: center;
}
#header p{
  border: 2px red;
  text-align: center;
  line-height: 1.5rem;
}
#doctors{
  display: flex;
  text-align: center;
  background-color: white;
  margin-bottom: 100px; 
  padding-left: 30px;
  justify-content: space-around;
  padding-top: 20px;
}
#doctors>div{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#service{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
}
#doctors p{
text-align: center;

}
.button{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
  }
  .a{
    color: blue;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
   
  }
  .b{
 
    border-radius: 5px;
    padding: 10px 10px 10px 10px;

  }
  .a:hover{
    background-color: rgb(175, 170, 170);
  }
  .b:hover{
    background-color: orange;
    color: white;
  }
   #service>div{
    padding: 25px;
   }

/* keep media queries at the bottom */
/* Medium screens */
@media all and (min-width: 451px) and (max-width: 750px) {
  #doctors{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
  }
  #service{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, auto);
  }
}
/* Small screens */
@media all and (min-width: 100px) and (max-width: 450px) {
  #doctors{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  #service{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6, auto);
  }
}
